<footer
    class="footer bg-gradient-to-r from-gray-800 via-gray-900 to-gray-800 text-gray-300 text-center py-6 mt-10 relative shadow-inner transition-shadow duration-500">
    <div class="container mx-auto">
        <p class="text-lg text-gray-400">&copy; 2024 - Designed with ❤ by Petrine </p>
    </div>

    <!-- Back to Top button -->
    <button id="backToTopBtn"
        class="hidden fixed bottom-5 right-5 bg-gray-700 text-gray-200 py-3 px-4 rounded-full shadow-lg transition-transform transform hover:bg-gray-600 hover:shadow-xl hover:-translate-y-1 duration-300">
        Back to Top
    </button>
</footer>