@model ProjectViewModel

<div class="p-4 bg-white shadow-lg rounded-md">
    <h3 class="font-semibold text-lg">@Model.Name</h3>
    <p>@Model.Description</p>
    <a href="@Model.Url" target="_blank" class="text-blue-500">Se på GitHub</a>
</div>