@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Extra button styling */
card-button {
  transition: background-color 0.2s;
}

.card-button {
  transition: background-color 0.2s;
}

.card-button {
  transition: background-color 0.2s;
}

.btn-github {
  display: flex; 
  align-items: center;
  justify-content: center; 
  background-color: #2d3748; 
  color: white;
  font-weight: 600; 
  padding: 0; 
  border-radius: 50%; 
  width: 36px; 
  height: 36px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  position: relative; 
}

.btn-github:hover {
  background-color: #4a5568; 
}

.btn-github svg {
  width: 20px; 
  height: 20px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  margin: 0;
}